* {
    box-sizing: border-box;
    font-family: sans-serif;
}

html, 
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

section {
    text-align: center;
    padding: 20px;
}

.time {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    padding-top: 0px;
    color: hsl(206, 17%, 28%);
}

#start {
    border: none;
    background-color: hsl(360, 91%, 36%);
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
    color: hsl(0, 0%, 100%);
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
}

#end {
    border: none;
    background-color: hsl(360, 91%, 36%);
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
    color: hsl(0, 0%, 100%);
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
}
#next {
    border: none;
    background-color: hsl(360, 91%, 36%);
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
    color: hsl(0, 0%, 100%);
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
}

.answer-button {
        border: none;
        background-color: hsl(360, 91%, 36%);
        border-radius: 25px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
        color: hsl(0, 0%, 100%);
        font-size: 22px;
        line-height: 22px;
        margin: 16px 16px 16px 20px;
        padding: 14px 34px;
        text-align: center;
}

.question {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    padding-top: 0px;
    color: hsl(206, 17%, 28%);
}